<h1>Listing options</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Link</th>
    <th>Description</th>
    <th>Pubdate</th>
    <th>Guid</th>
    <th>Author</th>
    <th>Installurl</th>
    <th>Sourceurl</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @options.each do |option| %>
  <tr>
    <td><%= option.title %></td>
    <td><%= option.link %></td>
    <td><%= option.description %></td>
    <td><%= option.pubdate %></td>
    <td><%= option.guid %></td>
    <td><%= option.author %></td>
    <td><%= option.installUrl %></td>
    <td><%= option.sourceUrl %></td>
    <td><%= link_to 'Show', option %></td>
    <td><%= link_to 'Edit', edit_option_path(option) %></td>
    <td><%= link_to 'Destroy', option, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Option', new_option_path %>
